__pycache__/
*.py[cod]
.venv/
.sdkvenv/
*.egg-info/
build/
dist/
.env
.pytest_cache/

# Virtual environment
.venv

# data
data/
.claude/agent-memory-local

# Agent Cred
.claude/settings.json

# Dev
notebooks/
tasks/
